[2017-02-03 14:04] dot-slash opened #1 "Disabled ufw"
Is there a cleaner way to enable the transparent proxying without completely disabling ufw? This potentially leaves ports open whilst the script is enabled.

Adding the following lines during the startup (after the other iptables rules) ensures slightly better security:

iptables -A INPUT -m state --state ESTABLISHED -j ACCEPT
iptables -A INPUT -i lo -j ACCEPT
iptables -A INPUT -j DROP

iptables -

[2017-02-03 15:24] dot-slash commented on #1
I'm working on a similar project: https://github.com/dot-slash/torproxy

[2017-02-04 07:36] BrainfuckSec commented on #1
Hi dot-slash, really thanks for the advice, I will insert this rules in the next version, soon the update.
Good work for your project!

[2017-02-08 08:17] #1 closed

[2017-10-17 09:36] c20xh2 opened #2 "curl: HTTP request error!"
DNS resolution not working avec running
`
sudo kalitorify --start
`
Infos:

`Distributor ID: Ubuntu
Description:    Ubuntu 17.04
Release:        17.04
`
I'm able to ping IP but not domain names.

I'm running behind a PiHole, don't know if that can be a problem

[2017-10-26 18:28] Veritas83 opened #3 "Doesn't check for directories existence before attempting to write to it"
Backup iptables rules... ./kalitorify.sh line 241: /opt/kalitorify/backups/iptables.backup: No such file or directory

Screen: https://i.gyazo.com/3aed39c067af7f7cb03b5e5b65d0aa64.png

[2017-10-26 18:31] Veritas83 commented on #3
I see now the makefile would have resolved this had I used it.

[2017-11-02 10:19] brainfucksec commented on #3
Yes, if you install the program with 'make install' first, then you have the directories configured.
Anyway I will add further checks on these directories for avoid errors, thanks for the reporting.

[2017-11-02 10:19] #3 closed

[2017-11-02 10:45] brainfucksec commented on #2
If you use PiHole you are under VPN, you can't use Transparent Proxy and OpenVPN at the same time.
Stop PiHole, restart the network interface then start kalitorify.

If you need a route vpn > transparent proxy through tor, you have to start openvpn from yous host then to set up a virtual machine with kali linux installed and start kalitorify from the virtual machine.

host system (with openvpn) >

[2017-11-02 10:45] #2 closed

[2017-11-06 17:25] c20xh2 commented on #2
Thanks for the info brainfucksec, have a good one

[2018-12-18 16:12] gearcapitan opened #4 "Your system is not using Tor"
![kali_linux-2018-12-18-10-11-00](https://user-images.githubusercontent.com/13740942/50166747-4616ae00-02ad-11e9-9386-5b04a5c83186.png)

[2018-12-19 09:15] brainfucksec commented on #4
Hi gearcapitan, did you reboot the system after installing the program?
Sometimes the transparent proxy configuration or Tor Network they may have problems with a tor node, try simply to restart the program with `--restart` parameter.

[2018-12-25 07:48] brainfucksec commented on #4
Added information about '--restart' parameter when tor network error occurred: [commit: c4b0b7922a91aec1c2a1e4325781f4c1b586277f](https://github.com/brainfucksec/kalitorify/commit/c4b0b7922a91aec1c2a1e4325781f4c1b586277f)

[2018-12-26 01:14] CertifiedKill opened #5 "System is not using Tor - iptables Error"
Hey I'm getting an error code. This is where it seems to go down.

[] Set new iptable rules. . .  iptables v1.8.2 (nf_tables): Could't load match 'owner': No such file or directory

Try 'iptables -h' or 'iptables --help' for more information.
iptables v1.8.2 (nf_tables): unknown option "--dport"
Try 'iptables -h' or 'iptables --help' for more information.
iptables v1.8.2 (nf_tables): unknown optio

[2018-12-29 09:13] brainfucksec commented on #5
Hi @CertifiedKill, I'm working on your problem but I need some information:

- Do you use Kali Linux with the default configuration with the root user only?
- Do you have a firewall/ids or other proxy applications installed?

[2018-12-31 14:16] brainfucksec commented on #5
@CertifiedKill really thanks for these information, I'm working on your problem.

[2018-12-31 19:41] DJZeman commented on #5
Hello, me too i have this problem and i get 134 in terminal after id -u debian-tor

[2019-01-01 08:32] brainfucksec commented on #5
@DJZeman I'm working on this problem, thanks for your information is really useful.

[2019-01-01 08:33] DJZeman commented on #5
Thx ;)

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: Brainfuck <notifications@github.com>
Sent: Tuesday, January 1, 2019 3:32:41 AM
To: brainfucksec/kalitorify
Cc: DJZeman; Mention
Subject: Re: [brainfucksec/kalitorify] System is not using Tor - iptables Error (#5)

@DJZeman<https://github.com/DJZeman> I'm working on this problem, thanks for your

[2019-01-01 18:50] DJZeman commented on #5
thx ;)

[2019-01-04 07:52] brainfucksec commented on #5
Try reinstalling tor package:

`sudo apt update && sudo apt full-upgrade -y`
`sudo apt install tor`

[2019-01-04 21:02] CertifiedKill commented on #5
Reinstalled the packages. There's no change.

[2019-01-06 06:50] brainfucksec commented on #5
I looked for information about this error but I can't find answers, I need time to do some tests.

[2019-01-06 06:57] CertifiedKill commented on #5
Alright sounds good, this is a very low priority to me so you can take as much time as you need, update me if you need anything from my end. Good Luck!

[2019-01-09 16:32] chnz2k opened #6 "Multi-Problems !"
Runing Squid & privoxy wich forward to socks5 tor & X-forward header : unknown : well cause tor unrechable network , or kalitorify not working .
your programm it you fix it !
:: Setting file: /etc/tor/torrc...
'/etc/tor/torrc' -> '/opt/kalitorify/backups/torrc.backup'
'/usr/share/kalitorify/data/torrc' -> '/etc/tor/torrc'

==> Starting Transparent Proxy
:: Disabling firewall ufw, please wait...
Fi

[2019-01-09 16:34] chnz2k opened #7 "Apt not not working!"
i found that apt is not compatible with kalitorify , wich give th following problem xD
Err:1 http://deb.parrotsec.org/parrot parrot InRelease
  403  Forbidden [IP: 104.XX.125.XX 80]
Get:2 http://packages.microsoft.com/repos/vscode stable InRelease [3,181 B]
Get:3 http://packages.microsoft.com/repos/vscode stable/main amd64 Packages [87.0 kB]
Reading package lists... Done
E: Failed to fetch http://

[2019-01-09 16:37] chnz2k opened #8 "Spoffed Packets With Kalitorify !"
tcp,udp & http & more protocoles working trought tor but the spoffed packets like python3 that all programmers know may cause problem .
X-forward on http is the exit nod of tor so some webservers well block you

[2019-01-09 16:44] chnz2k opened #9 "ipv6 traffics !"
i have been using ettreape & wireshark , i saw that some dns & tcp traffics go trouph a ipv6 servers , i would like too disable ipv6 on linux machine , on your next version . it well be better , & dont forget that some tor servers give ipv6 ip to the client .

[2019-01-09 16:50] chnz2k opened #10 "Lan Traffics communications !"
i saw your iptables rules i have been test to access my router wich is on 192.168.39.1 but it's not working even it's reject 192.168*.* subnet

[2019-01-09 16:58] chnz2k opened #11 "where is backups"
i have found taht u store backup on /opt/kalitorify/backups , but , iptables backup dosent get into the old status , same for resolv.conf :-1:
so linux users wich not expert cat get there machines network to there old status

sudo bash kalitorify.sh -c
==> Stopping Transparent Proxy
:: Flush iptables rules... Done
:: Restore the default iptables rules... Done
:: Stop tor service... Done

:: Restor

[2019-01-09 17:41] brandybrice opened #12 "make install error"
i got this error when make install 👍

data/torrc and /usr/share/kalitorify/data/torrc identify same file
data/torrc.default and /usr/share/kalitorify/data/torrc.default identify same file
MakeFile:13: install Error1

[2019-01-09 21:47] chnz2k opened #13 "checking reall Ip !"
Service you use is not fuully free so this message pop up !
==> Checking your public IP, please wait...
:: IP Address Details:
Ratelimitexceeded.Upgradetoincreaseyourusagelimitsathttps://ipinfo.io/pricing,orcontactusviahttps://ipinfo.io/contact

change to curl ifconfig.me to find the ip is better .

[2019-01-13 00:45] johnvega26 opened #14 "HTTP request error!"
Checking your public IP, please wait...
[ failed ] curl: HTTP request error!
Please check your network settings.

[2019-01-13 06:20] brainfucksec commented on #5
Hi, @CertifiedKill, 25/5000
I'm working on the problem, but I have some questions:
are you using ipv6 for connections?
have you updated the system with full-upgrade?

[2019-01-13 06:36] brainfucksec commented on #13
It happens with some tor nodes, where there have already been many requests to the server of [ipinfo.io](https://ipinfo.io/).
I will change the relative function in the program adding other servers to make requests.

Thanks for the advice

[2019-01-13 06:43] brainfucksec commented on #11
Hi @chnz2k
Try to wrote in correct English otherwise I can't understand your requests.

This is the output of the error:
`/etc/resolvconf/update.d/libc: Warning: /etc/resolv.conf is not a symbolic link to /etc/resolvconf/run/resolv.conf`

You have to restore the resolv.conf file:
`sudo rm /etc/resolv.conf
sudo ln -s ../run/resolvconf/resolv.conf /etc/resolv.conf
sudo resolvconf -u`

[2019-01-13 07:35] brainfucksec commented on #7
Those repositories are not of Kali Linux but of Parrot OS.

[2019-01-13 07:35] #7 closed

[2019-01-13 07:41] brainfucksec commented on #8
@chnz2k
What are these spoffed packets? the report is too vague, you should give me more details.

[2019-01-13 07:46] brainfucksec commented on #9
Thanks for the advice, @chnz2k.
In the next update I will add an instruction to disable ipv6

[2019-01-13 09:05] CertifiedKill commented on #5
I looked through the ifconfig and I think it's telling me I am using IPv6.
Yes i've "full-upgrade"

Could the IPv6 be the issue in this case?

[2019-01-13 09:06] brainfucksec commented on #10
Thanks for the advice @chnz2k, I will check fot this problem for the next updates.

[2019-01-14 20:09] Andre32 opened #15 "Information for parrot os"
Hi, this script work with parrot os?

[2019-01-14 23:19] CertifiedKill commented on #5
So I went ahead and hopefully disabled it by typing these commands in:

sudo nano /etc/sysctl.conf

and then writing these at the bottom of the file.

net.ipv6.conf.all.disable_ipv6 = 1
net.ipv6.conf.default.disable_ipv6 = 1
net.ipv6.conf.lo.disable_ipv6 = 1

I went ahead and ran the program and still the same error appears.

[2019-01-15 17:58] brainfucksec commented on #5
In the next update I added these instructions for disable IPv6 with sysctl, anyway, I will continue to look for a solution.

[2019-01-15 18:04] brainfucksec commented on #15
Parrot OS has [its own script](https://github.com/parrotsec/anonsurf) for this, please read the README:
https://github.com/brainfucksec/kalitorify#thanks

[2019-01-15 18:04] #15 closed

[2019-01-18 19:18] brainfucksec commented on #5
Hi @CertifiedKill maybe this problem is relative to Raspberry Pi, in particular to libraries of iptables, try to reinstall iptables:
`apt-get install --reinstall iptables`

[2019-01-18 19:20] brainfucksec commented on #14
Added another domain for check the public IP:
https://github.com/brainfucksec/kalitorify/commit/b808d227a6246db7ab20513c0490179c2472d805

Try now.

[2019-01-20 15:37] DJZeman commented on #4
i dont know why but i still have this problem however i upgrade my kali can you help me ?

[2019-01-21 17:40] brainfucksec commented on #5
Download the last version, then inside the folder, remove first the previous version:
`git clone https://github.com/brainfucksec/kalitorify
cd kalitorify
sudo make uninstall
`

Then install the new version.

[2019-01-25 09:06] CertifiedKill commented on #5
I believe it should work now, currently having bootup issues on my Pi right now but once I get that solved I am confident enough it should work.  Thanks for all the help!

[2019-01-26 06:08] brainfucksec commented on #5
Excellent.

[2019-01-26 06:09] #5 closed

[2019-01-26 20:04] #4 closed

[2019-04-10 08:53] smoothunit commented on #5
Same issues on both my updated Rpi's, any progress? Have you been able to replicate?

[2019-04-28 17:26] asaf050 opened #18 "Stopping the proxy"
Hi,

There is any way to stop the proxy after running the ``kalitorify -t`` command?

[2019-05-01 05:18] brainfucksec commented on #14
Since it’s been three months, I hope things are working well for you
now. I’ll close the issue until we can confirm it’s still happening. I’m
happy to continue further discussion whenever needed.

[2019-05-01 05:18] #14 closed

[2019-05-01 05:20] brainfucksec commented on #18
Hi @asaf050, You just need to issue `kalitorify -c` command, please see the README file.

[2019-05-01 05:20] #18 closed

[2019-06-12 21:33] ghost opened #19 "Check Tor network settings Your system is not using Tor!"
I have 2 issues:
1. i get an error but still my IP is changed, so it seems work, although i have this error:
Check Tor network settings
Your system is not using Tor!
2. the IP shown in Kalitorify is different then the IP in DNSleak website.

[2019-06-14 07:36] brainfucksec commented on #19
Hi @juistevorm, In the program, the external IP check function uses curl, probably this is a temporary problem concerning http requests, so try these steps:

1. Start kalitorify: `kalitorify --tor`
2. If this error occurs again the error restarts program and check status with:
    - `kalitorify --restart`
    - `kalitorify --status`

In order to give a more precise answer I need information on the

[2019-06-27 14:07] sh1va73 opened #20 "Transparent Proxy not Work on Raspberry Pi 3"
I installed Kalitorify on a Raspberry and works fine. I have internet and different IP.
After I close Kalitorify I have no internet connection. I see that resolve.conf is deleted.
When I restore and try again it happens again.

[2019-06-29 06:09] brainfucksec commented on #20
Hi @sh1va73, thanks for your reporting. You have `resolvconf` installed?

[2019-06-29 08:38] sh1va73 commented on #20
Yes it is installed and you are correct; it changes the settings of the file somehow.

[2019-06-29 15:37] sh1va73 commented on #20
I just tested again on a fresh Kali install on Raspberry Pi 3. My resolv.conf file is again overwritten after starting Kalitorify. After closing Kalitorify then the file is not restored.

[2019-06-30 03:51] anggisaja opened #21 "How to update Kalitorify???"
How to update kalitorify???

[2019-06-30 05:52] bohemian9485 commented on #21
git pull?

[2019-06-30 09:45] brainfucksec commented on #20
Did you install kalitorify as indicated in the README or you run it inside the program folder?
Do you receive any errors in the terminal output?

[2019-06-30 09:47] sh1va73 commented on #20
I installed like indicated and I did not get errors. This is on Raspberry Pi. I have another installation on VirtualBox and there it is working fine.

[2019-06-30 09:58] brainfucksec commented on #21
Hi @anggisaja, kalitorify was born as a git package, as such it receives relatively frequent updates, to update the git packages there are several methods, the fastest method is to save the kalitorify folder on the computer and manually check if there are updates with the `git pull` command.
Example:

[code]

After that re-run the installer: https://github.com/brainfucksec/kalitorify#install
More

[2019-06-30 10:10] brainfucksec commented on #20
In the past there have been similar problems with the Raspberry Pi (related to the kernel and iptables).
Here the problem is not only the resolv.conf file but there are errors at startup.
I need time to replicate the error or to find solutions, I update the discussion as soon as I know anything about the problem.

[2019-07-07 15:28] Asdrubale2 opened #22 "Can't connect to the internet after(maybe broken) install"
After installing kalitorify v1.17.1 on my 2019.x kali release, it's been impossible for me to have internet access at any level on my os. Not from terminal nor browsers or software center.

When typing kalitorify -t
I get:
cp: cannot stat '/et /resolv.conf' : no such file or directory
[Failed] cant copy resolv.conf to the backup directory

For kalitorify -r
I get
[Failed] curl: HTTP request error

[2019-07-08 09:23] Asdrubale2 commented on #22
Solved:
/etc/resolv.conf has been deleted so i created a new one with text editor.
Inside I've put:
search duckduckgo.com
nameserver 208.67.222.222
nameserver 208.67.220.220
nameserver 8.8.8.8
nameserver 8.8.4.4

Saved, and it works now. I did never open resolv.conf so i didn't know what to put in it. If I've screwed up in some way let me know and I'll fix it

[2019-07-09 06:56] brainfucksec commented on #22
Hi @Asdrubale2, thanks for the report.
kalitorify on startup copies the original resolv.conf file to the backup directory `/opt/kalitorify/backups` then it writes the `nameserver 127.0.0.1`on current file to allow connection with the Tor network.
When the program is terminated the resolv.conf file is restored to its original state.
For more information about ` /etc/resolv.conf` file I invite you t

[2019-07-09 07:01] #21 closed

[2019-07-19 19:58] brainfucksec commented on #19
Since it’s been one month, I hope things are working well for you
now. I’ll close the issue until we can confirm it’s still happening. I’m
happy to continue further discussion whenever needed.

[2019-07-19 19:58] #19 closed

[2019-07-26 10:38] cognoscibilis opened #23 "ipinfo.io limit"
**Describe the bug**
Program stops at "Checking your public IP" step

**Program error message**
error:
title:Ratelimitexceeded,
message:Upgradetoincreaseyourusagelimitsathttps://ipinfo.io/pricing,orcontactusviahttps://ipinfo.io/contact

or

[ failed ] curl: HTTP request error

[2019-07-26 19:21] brainfucksec commented on #23
Hi @cognoscibilis, thanks for this report.
The message is due to the fact that too many requests were made with the IP of that Tor Exit Node to one of the two sites that the program uses:

http://ipinfo.io
https://ipapi.co/json

Change Tor circuit (public IP) with the `--restart ` command then repeat the request with the `--ipinfo` command.

[2019-07-30 19:51] brainfucksec commented on #20
Since it’s been one month, I hope things are working well for you
now. I’ll close the issue until we can confirm it’s still happening. I’m
happy to continue further discussion whenever needed.

[2019-07-30 19:51] #20 closed

[2019-08-10 20:38] brainfucksec commented on #22
Since it’s been one month, I hope things are working well for you
now. I’ll close the issue until we can confirm it’s still happening. I’m
happy to continue further discussion whenever needed.

[2019-08-10 20:38] #22 closed

[2019-08-23 09:08] najum98 opened #24 "Error in running the script"
I have just installed the script and its dependencies, whenever I try to run the script using **./kalitorify.sh -t** it gives me the error that Your system us not using tor whereas I have the latest tor installed on my pc and I have tried manually starting the tor service as well but of no avail

[2019-08-24 05:26] brainfucksec commented on #24
Hi @najum98, I need more information, please use the template: https://github.com/brainfucksec/kalitorify/issues/new?assignees=&labels=&template=bug_report.md&title=

[2019-08-28 02:48] rockkao2001 opened #25 "Stuck at "setup new iptables rules" after "kalitorify -t" on Raspberry Pi 3"
Hello, I'm unable to use kalitorify as it stuck at "setup new iptables rules" forever:

==> Check default settings

==> Starting Transparent Proxy

:: Configure system's DNS resolver to use Tor's DNSPort
'/etc/resolv.conf' -> '/opt/kalitorify/backups/resolv.conf.backup'

:: Disable IPv6 with sysctl
net.ipv6.conf.all.disable_ipv6 = 1
net.ipv6.conf.default.disable_ipv6 = 1

:: Start Tor service
[ ok

[2019-08-28 06:12] brainfucksec commented on #25
Hi @rockkao2001.
From the system logs it seems that tor and the iptables with their settings have started correctly, if I'm not wrong this line indicates the correct start of the iptables:

`Aug 28 02:46:47 Korn Tor[22369]: Opened Transparent pf/netfilter listener on 127.0.0.1:9040`

From the logs I read 'Korn', do you use the korn shell?

[2019-08-28 07:42] rockkao2001 commented on #25
Hello,

Thanks for the response.
Korn is my hostname, I'm using Kali Linux on Raspberry Pi3, sorry that I didn't mention this is the beginning.

Is it normal that kalitorify -t stuck at Setup new iptables rules for minutes? (almost an hour)

Thanks again.

[2019-08-28 10:20] brainfucksec commented on #25
True, the hostname is written in the syslog output immediately after the date, my bad :(
However, kalitorify sets everything up in seconds, so this behavior is not normal, I think the error is due to the fact that the program is running on Raspberry Pi3 (as you've already seen), have you tried the solution indicated in the [post](https://forums.kali.org/showthread.php?43649-Solving-iptables-issue-

[2019-08-29 08:51] dclaymd opened #26 "With VPN??"
I'm trying to use your torify program (great program btw) along with NordVPN........any suggestions? If i start the torify program first the VPN doen't connect and vice versa. Let me know what more information I need to provide to come to a solution.

[2019-08-29 20:07] brainfucksec commented on #26
Hi @dclaymd, you can't configure the connection simply because you can't use transparent proxy through tor and then connect to a vpn server, anyway you have several alternatives, but this is a long speech which is not the case in this section, I suggest you start from these sources to learn about the advantages and disadvantages of each configuration:

- https://security.stackexchange.com/question

[2019-08-29 20:07] #26 closed

[2019-09-06 18:15] made98 opened #27 "Your system is not using Tor!"
**Describe the bug**
When i run ```kalitorify -t``` i get *Your system is not using Tor!* message

**Program error message**
Your system is not using Tor!

**Shell used**
bash

[2019-09-07 07:18] brainfucksec commented on #27
Hi @made98.
* You rebooted the system after installing the program?
* You get this message even after trying with the `--restart` command?

[2019-09-08 08:11] brainfucksec commented on #23
Since it’s been one month, I hope things are working well for you
now. I’ll close the issue until we can confirm it’s still happening. I’m
happy to continue further discussion whenever needed.

[2019-09-08 08:11] #23 closed

[2019-09-22 22:37] djeraseit opened #28 "Error in UFW check"
Regex issue on line 143
`if ufw status | grep -q active$; then`

This will catch "inactive" as well as "active".

So even if our firewall is currently "inactive" the script will try to disable it.

[2019-09-26 06:37] brainfucksec commented on #28
Hi @djeraseit, the functions related to ufw are from a few years ago, but if I remember correctly I had performed several tests, however, I will check that function, thanks a lot for reporting.

[2019-09-26 10:00] brainfucksec commented on #28
It should be fixed, you can see the details of the program code in the last commit:
https://github.com/brainfucksec/kalitorify/commit/6ffe2625dc17e7f8075c737d6c51dd4d0be8f5c1

Thank you again for your help @djeraseit your report was very useful :)

[2019-09-30 06:28] brainfucksec commented on #24
Since it’s been one month, I hope things are working well for you
now. I’ll close the issue until we can confirm it’s still happening. I’m
happy to continue further discussion whenever needed.

[2019-09-30 06:28] #24 closed

[2019-10-01 12:05] #28 closed

[2019-10-03 08:20] et90d opened #29 "Your system is not using Tor!"
**Describe the bug**
On VirtualBox Kali Linux if i start kalitorify (`kalitorify -t`) without MAC change
all ok.

But if i try to change Mac
[code]
i got an error:

i try to run `kalitorify -r` and no result:

**Program error message**

**Other network proxies/firewalls or DNS applications installed**
no

**Shell used**
bash

**Additional context**
After this i need to reboot Kali to start kalitor

[2019-10-04 07:36] brainfucksec commented on #29
Hi @et90d, thanks for your report.
I will be able to help you after running some tests to see if the problem is related to the program or to your configuration.

[2019-10-04 08:08] et90d commented on #29
Hi @brainfucksec, thanks you for reply.
Please let me know if you need additional information about my system configuration.

[2019-10-04 12:37] brainfucksec commented on #29
Try to manage the interface with the `ip` commands :
`ip link set eth0 down`
`ip link set eth0 up`

[2019-10-04 14:29] et90d commented on #29
No. Not on Raspberry Pi. Macbook + Virtualbox
Tried `ip` commands. All the same.

[2019-10-05 09:59] brainfucksec commented on #29
So, do you use Kali Linux on VirtualBox?
VirtualBox does not support MAC spoofing from command line, but it can be changed from the settings:

[VirtualBox - Macchanger and internet issues](https://forums.virtualbox.org/viewtopic.php?t=83858)

[2019-10-05 19:40] et90d commented on #29
yes. Ok got it. Thank you so much!

[2019-10-05 19:40] #29 closed

[2019-10-08 17:19] brainfucksec commented on #27
Since it’s been one month, I hope things are working well for you
now. I’ll close the issue until we can confirm it’s still happening. I’m
happy to continue further discussion whenever needed.

[2019-10-08 17:19] #27 closed

[2019-10-08 17:20] brainfucksec commented on #25
Since it’s been more than one month, I hope things are working well for you now.
I’ll close the issue until we can confirm it’s still happening. I’m happy to continue further discussion whenever needed.

[2019-10-08 17:20] #25 closed

[2019-10-19 21:29] cinetube commented on #25
<img width="550" alt="MobaXterm screenshot" src="https://user-images.githubusercontent.com/23441775/67151562-b507cd80-f2e9-11e9-98f9-64b1c083fd45.png">

Stuck at setup new iptables rules step.

Using Raspberry Pi 4

[2019-10-19 21:55] cinetube opened #30 "Stuck at "setup new iptables rules" after "kalitorify -t" on Raspberry Pi 4"
<img width="550" alt="67151562-b507cd80-f2e9-11e9-98f9-64b1c083fd45" src="https://user-images.githubusercontent.com/23441775/67151832-63614200-f2ed-11e9-857a-0f8ba1b65350.png">

Stuck at setup new iptables rules step.

Using Raspberry Pi 4

[2019-10-20 18:46] brainfucksec commented on #30
Hi @cinetube on the Raspberry Pi 4 you have to configure the iptables as indicated in the links below:

https://blog.mxard.com/persistent-iptables-on-raspberry-pi-raspbian

https://blog.onetwentyseven001.com/iptables-security-part-ii/

also check this post if it can help you:

[Transparent Proxy not Work on Raspberry Pi 3 #20](https://github.com/brainfucksec/kalitorify/issues/20)

[2019-10-23 17:39] learningsomethingnewanduseful opened #31 "everytime i start kalitorify"
sudo kalitorify -t

 _____     _ _ _           _ ___
|  |  |___| |_| |_ ___ ___|_|  _|_ _
|    -| .'| | |  _| . |  _| |  _| | |
|__|__|__,|_|_|_| |___|_| |_|_| |_  |
                                |___| v1.19.1

=[ Transparent proxy through Tor
=[ BrainfuckSec

==> Check default settings
:: Setting file: /etc/tor/torrc...
'/etc/tor/torrc' -> '/usr/share/kalitorify/backups/torrc.backup'
'/usr/shar

[2019-10-28 19:24] brainfucksec commented on #31
Hi @learningsomethingnewanduseful
I need more details about your setup, please see the [issue template](https://github.com/brainfucksec/kalitorify/issues/new?assignees=&labels=&template=bug_report.md&title=)

[2019-11-20 08:25] brainfucksec commented on #30
Since it’s been one month, I hope things are working well for you
now. I’ll close the issue until we can confirm it’s still happening. I’m
happy to continue further discussion whenever needed.

[2019-11-20 08:25] #30 closed

[2019-11-26 07:42] brainfucksec commented on #31
Since it’s been one month, I hope things are working well for you
now. I’ll close the issue until we can confirm it’s still happening. I’m
happy to continue further discussion whenever needed.

[2019-11-26 07:42] #31 closed

[2019-12-12 18:37] hybla0 opened #32 "Leaks when using Nessus"
@brainfucksec hi
**Describe the bug**
I am having leak issues when running a scan with Nessus : wireshark shows that the packets go directly to the target without passing through tor guard ip.It seems Nessus is able to bypass iptables.

**Program error message**
None

**Screenshots**

**Other network proxies/firewalls or DNS applications installed**
I dont know: it is a clean install of kali linux

[2019-12-17 20:10] brainfucksec commented on #32
Hi @hybla0, I don't use Nessus, so I need some time to understand what happens between this program and the iptables with Tor.
Thank you for the report, I'll try to fix this problem as soon as possible.

[2019-12-17 21:07] hybla0 commented on #32
@brainfucksec What do you use for vulnerability scanning/assessment?maybe I am using the wrong utility which is incompatible with Kalitorify, I am ok to switch to something cooler if it exists :)

[2019-12-25 19:47] brainfucksec commented on #32
@hybla0, generally I don't use frameworks like Nessus, OpenVAS or anything else, but everyone has their own preferences, however here you can find a list of the tools I prefer:

https://www.reddit.com/r/Pentesting/comments/9ondj5/a_good_pentesting_tools_list/

[2019-12-27 01:18] ViRb3 opened #33 "Extra shift call causes exit code 1"
There's a `shift` call to get rid of the `-t` argument here:
https://github.com/brainfucksec/kalitorify/blob/74b97362e16abc394ece7f384fbb8b3c8710ccce/kalitorify.sh#L569-L574

But also here:
https://github.com/brainfucksec/kalitorify/blob/74b97362e16abc394ece7f384fbb8b3c8710ccce/kalitorify.sh#L598-L601

Since there's nothing else to remove, the command will exit with code 1, which will in turn make

[2019-12-27 01:29] ViRb3 opened #34 "Secure start on boot"
Is there any way to securely start kalitorify on boot? Currently, I have created a simple systemd service:
[code]

However, there's no error checking and even if everything works, there's still a few seconds delay when traffic is exposed while the script is loading.

[2019-12-27 01:36] ViRb3 opened #35 "IPv6 disabled"
Is there any reason why IPv6 is disabled on `kalitorify -t`?

[2019-12-27 06:28] brainfucksec commented on #33
Hi @ViRb3, thanks for the report.
You're right, that statement is totally useless.
I am working on updating the program, I will commit as soon as possible

[2019-12-27 06:43] brainfucksec commented on #35
The script uses iptables which set rules for the IPv4 protocol.
iptables is for IPv4 connections, ip6tables is for IPv6 connections. If you want your iptables rules to also apply to IPv6, you have to add them to ip6tables as well.
Furthermore, the IPv6 protocol is not without risk for anonymity:

https://2019.www.torproject.org/docs/faq.html.en#IPv6

So for now, I have preferred to keep the script

[2019-12-27 06:50] #35 closed

[2019-12-27 07:02] brainfucksec commented on #34
About `systemd` unit files, here you can find more information:

https://wiki.archlinux.org/index.php/Systemd#Writing_unit_files
https://www.freedesktop.org/wiki/Software/systemd
https://www.freedesktop.org/software/systemd/man/systemd.unit.html

[2019-12-27 07:16] #34 closed

[2019-12-27 19:20] brainfucksec commented on #33
@ViRb3, I've eliminated the "extra" shift command.
Thank you very much for your help and for making this program better.

[2019-12-28 07:40] #33 closed

[2019-12-29 18:21] ViRb3 commented on #34
Hey, thanks for replying! The direction I'm going is to make sure that kali is torified all the time, even across reboots, with no chance for traffic leaks. Do you have any particular idea how to achieve this? I am trying to get it work using systemd + iptables.

[2020-01-12 09:42] brainfucksec commented on #32
Hi @hybla0, I invite you to try Nessus again with the latest update of `kalitorify`

[2020-01-27 05:24] #32 closed

[2020-02-12 13:01] windom3arle opened #38 "Temporary failure in name resolution after -c option"
I'm experiencing a dns issue when I try to stop kalitorify using the -c option: after that I cannot ping anything even If I restart the network card, always have a "Temporary failure in name resolution" .
To solve that I must restart the machine (kali on vbox).
Is anyone experiencing the same issue?

[2020-02-17 07:51] brainfucksec commented on #38
Hi @windom3arle, thanks for the report.
This is a problem that often occurred in previous versions of `kalitorify`, but from the results of my tests I should have solved with the latest versions.

Please check if you have the latest version:

https://github.com/brainfucksec/kalitorify/releases

Otherwise it may depend on your particular network configuration, however I will run other tests to veri

[2020-02-17 15:07] sh1va73 opened #39 "Request IP rotator"
Not a bug but a feature request. This is a great script but it would be more better if a IP rotator is included. On Github you find IP rotator script; maybe you can include.

[2020-02-17 19:17] windom3arle commented on #38
Thank You so much for yr.reply.
I can confirm you it's the latest version given that I installed that the very same day I opened the issue...
Anyway some days ago I've installed the "kali anonsurf" script too to give it a try and (dont' ask me why) the issue automagically solved: now I'm able to start/stop both (kali anonsurf or kalitorify) without experiencing any issues when i try to get back to

[2020-02-18 07:49] brainfucksec commented on #38
Generally a **"Name Resolution" error** is due to the DNS settings on `/etc/resolv.conf` file, but I realized that in older versions, `kalitorify` when starting it did not immediately change the` iptables`, therefore it interfered with the settings of the file mentioned above. So, if the program was terminated, the `/etc/resolv.conf` file remained with the settings for the Tor proxy (with the valu

[2020-02-18 07:49] #38 closed

[2020-02-20 01:56] TheCranston opened #40 "tor dns not resolving onion addresses"
**Describe the bug**
after running 'sudo kalitorify -t'
launch web browser and attempt to go to an .onion address

**Program error message**
"cannot find host" returned from browser.  regular non-onion sites work fine.  check.torproject.org says browser is connected to tor.

There are some messages in the syslog about giving up connecting and they seem to be happening when trying to resolve .onion

[2020-02-22 07:05] brainfucksec commented on #40
Hi @TheCranston, if you need to visit the Tor hidden services don't use a Transparent Proxy but use Tor browser, please read here:

https://en.wikipedia.org/wiki/.onion
https://www.whonix.org/wiki/DoNot#Allow_Tor_over_Tor_Scenarios
https://github.com/BrainfuckSec/kalitorify#security

[2020-02-22 07:05] #40 closed

[2020-02-22 07:06] brainfucksec commented on #39
Hi @sh1va73 please open the pull request in the appropriate section:

https://github.com/brainfucksec/kalitorify/pulls

[2020-02-22 07:06] #39 closed

[2020-03-08 14:41] hellresistor opened #41 "After back to clearnet problem"
Hi!
Try your job! Nice job!
I have found issue.
after run command to back to clearnet.
Need restart kali. Firefox stop open webpages and no ping ;)
Cya

[2020-03-10 07:31] brainfucksec commented on #41
Ho @hellresistor, thanks for the report.
The latest version presents this problem randomly, I'm working to figure out where the problem is.

[2020-03-10 18:14] hellresistor commented on #41
Has I checked maybe needing DNS/host/network service restart (resolvconf, i have tried, but i can not do work using resolvconf package)

[2020-03-10 19:04] brainfucksec commented on #41
The problem was due to the new iptables instructions I had inserted in the latest updates.
I modified the instructions and now the program correctly returns to "clearnet" connection.
See last commit for code details.
Thanks again for the report and good work @hellresistor

[2020-03-10 19:04] #41 closed

[2020-03-10 19:05] brainfucksec commented on #38
Related to ISSUE #41
FIXED

[2020-03-10 20:02] hellresistor commented on #41
Very Good Work! +1

[2020-03-21 09:27] jisjose98 opened #44 "Transparent proxy is not stopping"
Transparent proxy is not stopping even after typing kalitorify -c
After typing the cmd its showing transparent proxy is stopped but unable to vonnect until restarting the system

[2020-03-23 09:16] brainfucksec commented on #44
Hi @jisjose98, thanks for the report.
Are you using the latest version of the program?

[2020-03-23 14:02] jisjose98 commented on #44
Yes it shows that the msg that transparent proxy is stopped but after I try
to browse it shows server is down and I need to restart the PC to start
working

On Mon 23 Mar, 2020, 2:46 PM Brainfuck <notifications@github.com wrote:

[2020-03-26 05:50] brainfucksec commented on #44
@jisjose98
What do you mean by "server down"? Do you think that this issue is related?

https://github.com/brainfucksec/kalitorify/issues/41

[2020-03-26 17:28] jisjose98 commented on #44
Yes after running the tool kalitorify it's working perfectly you but as
soon as I stop it i am not able to use internet further unless I restart.

On Thu 26 Mar, 2020, 11:20 AM Brainfuck <notifications@github.com wrote:

[2020-03-29 05:26] brainfucksec commented on #44
Can you show me the output of these commands when you stop kalitorify?
[code]
Do you use some firewall/DNS applications? like UFW, Pi-hole etc?
Thanks for the help

[2020-04-04 20:17] jisjose98 commented on #44
![15860314005535627611290454059680](https://user-images.githubusercontent.com/55292980/78460547-5c818c80-76df-11ea-8b99-2c83609e1fdd.jpg)
![1586031432983527912963715263554](https://user-images.githubusercontent.com/55292980/78460557-660af480-76df-11ea-8526-3c931348cb68.jpg)

[2020-04-07 07:12] brainfucksec commented on #44
Thanks, you need to reset the configurations of these files:

1 - Put your favorite dns in the file `/etc/resolv.conf`:
i.e.:

[code]
(This is an example, I advise you to avoid google DNS)

2 - Go to the "git" folder of kalitorify, if you don't have it anymore, download it again from github, and unistall/reinstall kalitorify:
[code]

[2020-04-24 12:18] vladstanoiu opened #45 "Hello"
when i use Kalitorify , i cannot ping , internet works ok.. but when i ping is giving me this:
ping: sendmsg: Operation not permitted

[2020-04-26 06:45] brainfucksec commented on #45
Hi, @vladstanoiu, please use a descriptive title for the issue.
ICMP is not possible over Tor:

https://superuser.com/questions/341946/can-i-ping-send-icmp-through-tor
https://2019.www.torproject.org/docs/faq#TransportIPnotTCP

[2020-04-26 06:45] #45 closed

[2020-04-29 02:17] mrhili commented on #27
it happen for me too i have the latest kali Linux in a virtualbox machine I did the restar and then I check with the -s and I get YOUR SYSTEM IS NOT USING TOR

[2020-04-29 02:25] mrhili commented on #27
I put the comand 8 time and still hapenning , should I do something before lunching kalitorify ? like whonix or something else ?

[2020-05-01 05:29] brainfucksec commented on #44
Since it’s been one month, I hope things are working well for you now. I’ll close the issue until we can confirm it’s still happening. I’m happy to continue further discussion whenever needed.

[2020-05-01 05:29] #44 closed

[2020-08-10 17:51] tokewz opened #46 "Uninstalling"

[2020-08-10 17:57] tokewz commented on #46
How im gonna uninstall this. Not needed anymore, installed tor browser and program didnt work at all. Such as. unusable with vpn.
already removed from /usr/share and main directory, but still command is working.
PLease answer me fast

[2020-08-10 18:07] #46 closed

[2020-08-10 18:08] tokewz commented on #46
nvm, checked makefile and created another version what removes everything it installed.

[2020-09-14 10:26] CyberKrypts commented on #19
i got like [!] Your system is not using Tor when i try to use --restarts or status it shows evrything ok again if user --tor getting same issue [!] Your system is not using Tor its a safe sign ??? i tried so many days

[2020-09-14 22:23] azamet90 opened #47 "ip changes everytime!"
![1](https://user-images.githubusercontent.com/44042178/93144078-e6536e00-f6f1-11ea-842a-d38b0b93845a.png)
![1](https://user-images.githubusercontent.com/44042178/93144108-f5d2b700-f6f1-11ea-994d-722b1a86cc4f.png)
on another tools i see only 1 ip address isnt better?
and the ip address on every 5 minutes or somethings like that changes?
and the ip i see in my terminal and on the site is different?

[2020-09-14 22:34] azamet90 commented on #47
and the ip address on every 5 minutes or somethings like that changes?

[2020-09-23 05:02] brainfucksec commented on #47
Hi @azamet90
Please see the [Bug Report template](https://github.com/brainfucksec/kalitorify/issues/new/choose)

Anyway you can setup bridges with Tor Browser: https://bridges.torproject.org/

[2020-09-30 15:03] 5l1v3r1 opened #48 "DNS over HTTPS or TLS ( DoH or DoT) support"
Does kalitorify provides doh or dot ?

[2020-10-02 09:36] brainfucksec commented on #48
Hi @5l1v3r1, kalitorify is a script that launch a "Transparent Proxy" this mean that at Operating System level DNS requests are handled by the Tor proxy for avoid DNS leaks, the protocols DoH and DoT are solutions when you are connected with network of your ISP or a public Wi-Fi network for example, for more information I invite you to read here:

https://trac.torproject.org/projects/tor/wiki/doc/

[2020-10-04 06:53] 5l1v3r1 commented on #48
Thank you for the posts. I read them. I decided to use https://github.com/dimkr/nss-tls that one with kalitorify. (nss-tls is an alternative, encrypted name resolving library for Linux distributions with glibc, which uses DNS-over-HTTPS (DoH). The glibc name resolver can be configured through nsswitch.conf(5) to use nss-tls instead of the DNS resolver, or fall back to DNS when nss-tls fails.) It i

[2020-10-04 13:30] brainfucksec commented on #48
The main concept here is that the transparent proxy serves among other things to avoid DNS leaks.
When you contact a server through Tor it receives the DNS request from the exit node, which is not encrypted but the recipient server and the exit node itself cannot know where the initial request comes from.
Theoretically I think it's better to let that Tor network take care of these requests. Not al

[2020-10-04 21:35] 5l1v3r1 commented on #48
You are right, and not all the exit nodes  support doh or dot yet, maybe the can think about that in future but i will keep nss-tls working without adding dns adresses and let the tor decides what to do ( use nss-tls instead of the DNS resolver, or fall back to DNS when nss-tls fails.) Sometimes tor exit nodes might be malicious as well (https://www.theregister.com/2014/10/27/tor_exit_node_mashes_

[2020-10-05 12:39] brainfucksec commented on #48
Really thanks for the information, I think that this discussion can be helpful to other users.

[2020-10-05 12:39] #48 closed

[2020-10-06 19:07] brainfucksec commented on #46
Hi @eternityangel.
You don't need to create another file, you can use the same `Makefile` for uninstall the program, you only need to issue the command:

`sudo make uninstall`

https://superuser.com/questions/264601/removing-installations-done-by-make-install

[2020-10-24 08:31] brainfucksec commented on #47
Hi @azamet90
Since it’s been one month, I hope that things are working well for you now. I’ll close the issue until we can confirm it’s still happening. I’m happy to continue further discussion whenever needed.

[2020-10-24 08:31] #47 closed

[2020-11-13 04:42] COBRAJOE90 opened #49 "Kali"

[2020-11-14 07:00] #49 closed

[2020-11-23 09:27] Frantch opened #50 "Cannot get guard ip ?"
Hello,

I'm trying to check if I don't have leaks using the tcpdump method but this command (on kali, debian) returns blank

`ss -ntp | grep "$(cat /var/run/tor/tor.pid)"`

Tor is correctly running and I do see that my public ip is hidden using different online ip checker.

I'm not enterily sure of what a 'tor guard ip is' so I don't what I should be looking for using an other method.

[2020-11-27 11:19] hellresistor commented on #50
type just the first part `ss -ntp` and share the output

[2020-11-29 10:53] Frantch commented on #50
Ok, never mind, I was not doing that as root. Just tried with sudo and I've got 2 entries... since I found this strange I have

`kalitorify -c` and `kalitorify -t` again and now I only get one entry showing the guard ip.

I have ran the tcpdump command to show all traffic that is not going to or from my guard ip and all I have is

`IP 192.168.0.1 -> 224.0.0.1: igmp query v3`

From what I untdersto

[2020-12-02 08:30] brainfucksec commented on #50
Hi @Frantch, sorry for the delay.
The "Guard IP Address" is the IP Address of the "Tor Guard Relay" that you are connected, is a type of Tor relay, please see:

https://community.torproject.org/relay/types-of-relays/

About the IP address (224.0.0.1) that you see, please read here:

https://en.wikipedia.org/wiki/Multicast_address

https://en.wikipedia.org/wiki/Internet_Group_Management_Protocol

[2020-12-10 23:36] Banginpadr commented on #29
I'm having this same problem but in using kali in a windows partition. I'm using kali rolling

[2020-12-11 01:23] Banginpadr opened #51 "Starting Transparent Proxy"
**Describe the bug**
the script is not working. At first, it was not starting because I think you change your script **torrc.backup** to  **iptables.backup** to **torrc.backup**

**Program error message**
[code]

**Shell used**
bash

**Additional context**
I think some how the script got miss up with different names. can you please help me? also it I didn't install this in my home folder but at **

[2020-12-16 23:41] mguzman999 opened #52 "Error with torrc file (/etc/tor/torrc) and torrc.backup"
**Describe the bug**
When I start the transparent proxy and then i reset the iptables it says me that the file torrc.backup doesnt exist.

**Program error message**
:: Stopping Transparent Proxy
==> Restore default iptables rules
==> Stop tor service
==> Restore /etc/resolv.conf file with default DNS
==> Enable IPv6
==> Restore default '/etc/tor/torrc'
cp: no se puede efectuar `stat' sobre '/usr/s

[2020-12-17 20:50] superclown2 opened #53 "Installed kalitorify - now no internet"
I installed kalitorify 1.24.3 into kali linux on a VirtualBox virtual machine but now there is no Internet access from it.  When it checks my public IP address the IP Address details are blank. Is there a way out of this please?

after command kalitorify -c I get message: cannot stat '/usr/share/kalitorify/backups/torrc.backup': No such file or directory. There is a file in that directory though c

[2020-12-20 10:53] sophiya02 commented on #51
I am facing with same problem . .... Have you solved it now !!!!! ... Also when firefox is showing "server not found error"  how to fix this ....

[2020-12-21 15:42] brainfucksec commented on #52
Hi @mguzman999, thanks for the report.
There is a problem with the last `tor` package, I'm working for the fixl, I will update this post with progress.

[2020-12-21 15:45] brainfucksec commented on #53
Hi @superclown2, I'm working for a fix please see: [ISSUE #52](https://github.com/brainfucksec/kalitorify/issues/52)

[2020-12-21 15:46] brainfucksec commented on #51
Hi guys, please see: ISSUE #52

[2020-12-21 19:44] #51 closed

[2020-12-21 19:44] #53 closed

[2020-12-21 19:48] brainfucksec commented on #52
Fixed, please download [latest release](https://github.com/brainfucksec/kalitorify/releases)
For those who have messed up the `torrc` file, copy it from the kalitorify directory:

[code]

If there are still problems reinstall the `tor` package and then kalitorify.

[2020-12-22 20:25] shownb commented on #52
why this thing happened?

[2020-12-23 18:55] mguzman999 commented on #52
The problem it's solved when i reinstall kalitorify, thank you to solve the problem.

[2020-12-23 18:55] #52 closed

[2020-12-30 17:52] brainfucksec commented on #50
Since it’s been one month, I hope that things are working well for you now. I’ll close the issue until we can confirm it’s still happening. I’m happy to continue further discussion whenever needed.

[2020-12-30 17:52] #50 closed

[2021-01-30 10:13] ouledzmitli commented on #32
hello , can you please explain to me the difference between kalitorify and nipe ? wich is the best in anonymity ? and how we can use both to scan with Nmap .

[2021-02-27 00:54] Quadre opened #55 "WSL2.0 enable to start kalitorify as can't start tor service"
**Describe the bug**
While running latest kalitorify v1.25.0 on Kali [v 2021.1] via Windows WSL2.0
I was not able to start kalitorify as tor service was not detected.

**Preconditions**
[code]

[code]

**Executed Steps**
[code]

Please advice

[2021-03-02 21:37] LulzRose commented on #55
Bumping as I have the same issue same setup. Tor runs fine and can be started as a service on its own with sudo service tor start.

[2021-03-05 05:18] brainfucksec commented on #55
Thanks for the report @Quadre, kalitorify is not tested in that environment, so I need time to understand where the problem could be, but from what I read it could be a problem related to the Tor service on WSL (maybe at kernel level?) and not to the program itself.

[2021-03-19 04:03] #55 closed

[2021-05-02 06:06] MyKal123 commented on #29
how do you fix that in raspberry pi? and i do not know about ip command

[2021-07-02 18:04] AkliOnet opened #57 "Question. Where to add a custom tor param"
I want to add the line ExitNodes {xx} StrictNodes 1 in the torrc file but it always overwritten.

[2021-07-04 18:26] brainfucksec commented on #57
Hi @AkliOnet, try to add this parameter to the [data/torrc](https://github.com/brainfucksec/kalitorify/blob/master/data/torrc) file then install kalitorify with `make install` command.
Maybe you already know that this is a critical parameter for Tor, for other information read here:

https://2019.www.torproject.org/docs/tor-manual.html#ExcludeExitNodes

[2021-08-04 06:46] brainfucksec commented on #57
Since it’s been one month, I hope that things are working well for you now. I’ll close the issue until we can confirm it’s still happening. I’m happy to continue further discussion whenever needed.

[2021-08-04 06:46] #57 closed

[2021-11-01 18:21] zMatix opened #58 "tor problem"
basically as soon as i try to do kalitorify --tor when it comes to the tor network it says that my system is not using tor and when i do kalitorify --restart nothing shows up and nothing loads like the websites how can i fix it?

[2021-11-01 19:10] #58 closed

[2021-11-08 16:16] windowshopr opened #59 "Your system is not using Tor (again, still)"
**Describe the bug**
Running sudo kalitorify -t gives…

**Program error message**
[!] Your system is not using Tor

try another Tor circuit with ‘kalitorify —restart’

**Screenshots**
No screenshots necessary.

**Other network proxies/firewalls or DNS applications installed**
No firewall (that I’m aware of? Unless one is included in Kali’s fresh install.) I’m currently running a NordVPN connection

[2021-11-08 18:36] windowshopr commented on #59
I turned off/disconnected from/disabled firewall in NordVPN and also set kill switch to disabled, so basically took NordVPN out of the equation, still same issue. Tried a reinstall of kalitorify as well.

[2021-11-11 06:21] brainfucksec commented on #59
Hi @windowshopr.
You need to disable the VPN not only the kill switch.

[2021-11-11 06:40] windowshopr commented on #59
@brainfucksec i did. Maybe my explanation wasn’t that great lol I disconnect from my VPN and shut down the program entirely. Before I did that, I disabled the firewall and kill switch settings. The VPN program isn’t even running, still go the same error.

[2021-11-12 06:45] brainfucksec commented on #59
What firewall do you use? if you use the iptables rules you need to restart the `iptables.service` after a change.
Check the `/etc/resolv.conf` file, maybe is a DNS problem.
Check `/etc/tor/torrc` file, this is the default: https://github.com/brainfucksec/kalitorify/blob/master/data/torrc.default
I don't know the NordVPN application but maybe the application modifies some Tor related files if you

[2021-11-12 23:51] windowshopr commented on #59
Ok I’ve narrowed it down.

`sudo kalitorify -c`
`sudo systemctl stop tor`
`nordvpn d`

So this shuts down all tor and NordVPN connections. Then I just run

`sudo kalitorify —tor`

And it connects. This is all after a restart from installation yes.

Only problem now is, how can I ensure that I’m connected to my NordVPN while using kalitorify? From here, with kalitorify running, I try to run

`nordv

[2021-11-12 23:55] windowshopr commented on #59
I see #26 after a quick search. Not sure I follow the details there, it’s always recommended to use tor from behind a vpn so would be good to figure this out

[2021-11-13 07:12] brainfucksec commented on #59
Obviously I can't provide support for applications outside kalitorify, in this case the program works and I'm glad you solved the problem.

About Tor and VPN I recommend the [Tor Project FAQ ](https://support.torproject.org/faq/faq-5/) if you have not already read.

Good work.

[2021-11-13 07:12] #59 closed

[2021-12-02 13:15] kevinadhiguna opened #60 "[Question] Is there kalitorify for Ubuntu ?"
Hi, I understand this is for Kali Linux but I want to know if this tool works well in Ubuntu or not, or even if there's a repo/tool with the same functionality for Ubuntu.

Thank you.

[2021-12-07 07:38] brainfucksec commented on #60
Hi @kevinadhiguna, you can try [nipe](https://github.com/htrgouvea/nipe) or you can do a search using the filter "topic" [transparent-proxy](https://github.com/topics/transparent-proxy).

[2021-12-09 03:45] kevinadhiguna commented on #60
I got it, thanks @brainfucksec !

[2021-12-09 03:45] #60 closed

[2021-12-12 19:27] conceptuando commented on #29
Do you know if there is a solution for this problem that I also have with Kali on WSL2? Thanks

[2022-02-23 18:17] lcsvcn opened #61 "100% Package Loss"
After running `sudo kalitorify -t` I am receiving 100% package loss:

![image](https://user-images.githubusercontent.com/6011385/155381881-2a555f57-5f26-4056-a8d3-c1f76a45805a.png)

if I run `sudo kalitorify -c`, it gets normal:

![image](https://user-images.githubusercontent.com/6011385/155381655-d11cc734-5ebf-442d-8777-a781831aefd4.png)

What is happening? Am I missing sth?

[2022-02-27 08:00] brainfucksec commented on #61
Hi @lcsvcn
Please see: #45

[2022-02-27 08:00] #61 closed

[2022-03-08 11:49] nikhil0162 commented on #19
If above things doesn't work then try to enable "use bridges" in tor settings -> tor or type ```about:preferences#tor``` in your tor browser address bar

[2022-03-09 14:58] Aleadar opened #62 "Kalitorify Block Scripts"
Guys, I have a problem.

When I enable kalitorify I get an IP address, that's fine, but when I try an nmap (for example) I can't run.

I think my Iptables blocking connections when I use kalitorify as it put some rules in iptables with drop flag. I've tried setting it to ACCEPT everything, but I can't proxy with Nmap.

[code]

I just can use internet when I set INPUT and Output accept, because kal

[2022-03-10 09:07] brainfucksec commented on #62
Hi @Aleadar, `nmap` ..or other similar programs should work normally with kalitorify, it must be a problem in your configuration and not related to the program.

[2022-03-10 12:24] Aleadar commented on #62
@brainfucksec

I think it's a problem with the tor rules, because with anonsurf it doesn't work either. How I can open all rules on Iptables using Kalitorify?

[2022-03-11 06:22] brainfucksec commented on #62
I have tested nmap and other scanners or similar programs and they work correctly, as far as changing the iptables rules you have to be careful not to create problems with your security.
See:

https://gitlab.torproject.org/legacy/trac/-/wikis/doc/TransparentProxy
https://www.netfilter.org/projects/iptables/index.html

[2022-03-11 06:22] #62 closed

[2022-03-31 09:49] dotslashsuperstar opened #63 "Question"
Looks like you have a great implementation. I am using the iptables rules from tor wiki and was just wondering if you knew if it's just me or scans like nmap return really inaccurate results like all ports open. Like nmap 'iphere'.  Ping, and traceroute dont work as well afaik since its not tcp. Wget and browser work.  Any ideas of programs for scans and networking that work/dont work? Thanks

[2022-04-03 06:21] brainfucksec commented on #63
Hi @dotslashsuperstar, about `ping` and `traceroute` commands see: #45
For `nmap` results maybe it depends on the server you are testing, you should refer to nmap`s documentation for that.

[2022-04-03 06:21] #63 closed

[2022-04-25 00:38] FireLife1 commented on #25
???

[2022-04-27 20:53] MrOffSec opened #64 ""Ip api"-address in check_ip() doesn't work"
The first ip api address in the list of apis in [check_ip()](https://github.com/brainfucksec/kalitorify/blob/master/kalitorify.sh#L270) doesn't work for me any longer.:
[code]

If I start kalitorify with the command
[code]
It gives me an error:
    "Your system is not using tor!"

So I removed this address from the list and now the program works perfectly fine. If other users also experiencing thi

[2022-04-27 20:55] MrOffSec commented on #19
Hi, I just came along this problem myself.I found another solution. I also opened a seperate [issue](https://github.com/brainfucksec/kalitorify/issues/64) for this.

[2022-04-29 06:35] brainfucksec commented on #64
Hi @MrOffSec
I need to check and update the list of the links in the `check_ip` function, thanks.

[2022-05-07 05:32] #64 closed

[2022-05-21 23:15] Masukashan commented on #19
i started tor just so its open and running in a terminal
and then i restarted tor services in a second terminal
after that  i stopped the tor services  and run "kalitoryfi -t" again and it worked .
i dont know why  it wanted me to have open and running the tor but it wanted me to do so
for proxychains too in a separate terminal . I dont know if its the same thing
but whenever im trying to use tor

[2022-05-22 05:54] brainfucksec opened #65 "Breaking change"
As of version `1.28.0`, there are some changes:

* Changes the directory for program executable:

Old -> `/usr/local/bin/kalitorify`
New -> `/usr/bin/kalitorify`

* Changes the directory used for backups:

Old -> `/usr/share/kalitorify/backups`
New -> `/var/lib/kalitorify/backups`

* Changes also in the `Makefile`.

So, remove the program manually and then install the new version:

[code]

[2022-06-04 17:32] fahadph1 opened #66 "make error"
after giving `make install` i got this error

install -Dm644 README.md /usr/share/doc/kalitorify/README.md
install -Dm755 kalitorify.sh /usr/bin/kalitorify
mkdir -p /usr/share/kalitorify/data
mkdir -p /var/lib/kalitorify/backups
install -Dm644 data/* /usr/share/kalitorify/data

[2022-06-07 05:32] brainfucksec commented on #66
Hi @fahadph1
Is not an error is the normal output of the command, informs you of the operations performed and the path to the installed files.
See: https://www.gnu.org/software/make/

[2022-06-09 06:50] #66 closed, assigned to nobody

[2022-07-12 04:49] passerbyo opened #67 "Possible to use kalitorify on nethunter"

[2022-08-18 09:11] #65 closed

[2022-08-18 09:11] #67 closed, assigned to nobody

[2022-09-28 12:37] 10ox opened #68 "help"
![5059bc5a-0938-4198-88c9-e6a8320c2d3d.jpg](https://user-images.githubusercontent.com/104843175/192780087-9752cf46-d085-4660-ba0d-5828bf85e550.jpg)
I'm use tool and sites not open how stopp this tool

[2022-10-01 05:45] brainfucksec commented on #68
Hi @10ox, with this information only, I can't help you, did you read the README before running the program?

https://github.com/brainfucksec/kalitorify#usage

Check the steps in the section "Before starting kalitorify"

[2022-10-12 13:38] d0lla1976 opened #69 "just a question"
I use kalitorify all the time..
I have been doing some testing and my question is,
 Does kalitorify run all my traffic including my terminal information through kalitorify?

[2022-10-15 07:27] brainfucksec commented on #69
Hi @d0lla1976, what do you mean exactly for "terminal information", the terminal emulator is an application like the others.

[2022-10-15 07:27] #68 closed, assigned to nobody

[2022-10-16 13:56] d0lla1976 commented on #69
yeah brother i get that..
I guess what i'm asking is,
If i run an nmap scan against a target and i have kalitorify running will the scan i'm running in the terminal  go through tor (kalitorify)?
Once kalitorify is activated does every outside connection I attempt run through tor (kalitorify)?

BTW. I really appreciate your work and you taking the time to answer my questions..

[2022-10-28 11:54] Zbergen-cli commented on #69
@d0lla1976, Yes, everything goes through Tor, but there is no stream isolations and will not be. That is, after enabling kalitorify, the likelihood that all connections will use the same ip address is very high. If you use the tor browser you will also get tor over tor which will also not be fixed.

[2022-11-18 12:48] brainfucksec commented on #69
The topics that @Zbergen-cli has excellently explained to you are all presents in the `README` (see: the [Security](https://github.com/brainfucksec/kalitorify#security) section).
You can delve into the various topics from the indicated sources.

Also see the basics, like:

https://en.wikipedia.org/wiki/Proxy_server

https://gitlab.torproject.org/legacy/trac/-/wikis/doc/TransparentProxy

[2022-11-27 10:02] #69 closed, assigned to nobody